<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2015 Jozua Sijsling <jozua.sijsling@gmail.com>
  ~
  ~ All rights reserved. No warranty, explicit or implicit, provided.
  ~
  ~ NOTICE:  All information contained herein is, and remains the property of Jozua Sijsling. The
  ~ intellectual and technical concepts contained herein are proprietary to Jozua Sijsling and are
  ~ protected by trade secret or copyright law. Dissemination of this information or reproduction
  ~ of this material is strictly forbidden unless prior written permission is obtained from Jozua
  ~ Sijsling. Access to the source code contained herein is hereby forbidden to anyone unless
  ~ prior written permission is obtained from Jozua Sijsling. This includes those who have
  ~ executed Confidentiality and Non-disclosure agreements explicitly covering such access.
  ~
  ~ The copyright notice above does not evidence any actual or intended publication or disclosure
  ~ of this source code, which includes information that is confidential and/or proprietary, and
  ~ is a trade secret, of Jozua Sijsling. ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC
  ~ PERFORMANCE, OR PUBLIC DISPLAY OF OR THROUGH USE OF THIS SOURCE CODE WITHOUT
  ~ THE EXPRESS WRITTEN CONSENT OF  Jozua Sijsling IS STRICTLY PROHIBITED, AND IN
  ~ VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.  THE RECEIPT OR POSSESSION
  ~ OF  THIS SOURCE CODE AND/OR RELATED INFORMATION DOES NOT CONVEY OR  IMPLY ANY
  ~ RIGHTS  TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS, OR TO MANUFACTURE, USE,
  ~ OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.
  -->

<manifest
    package="nl.jozuasijsling.blendledream"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".BlendleDreamApplication"
        >

        <service
            android:name=".BlendleDreamService"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DREAM_SERVICE"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.service.dreams.DreamService"/>
            </intent-filter>

        </service>


        <service
            android:name=".DownloadDreamFeedService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b0204ffffca222a5d5c5d674b2e58ca2c02054d9" />
    </application>

</manifest>
